@import "../../variables.scss";

.app-menu {

  width: 380px;
  font-family: Courier, monospace !important;

  // background-image: url("../../assets/what-the-hex.png");
  background-color: white;
  box-shadow:


              inset 0 0 120px rgba(0, 0, 0, 0.04),
              -2px 2px 24px -2px rgba(0, 0, 0, 0.2);
  border: 1em solid #DDD;

  padding: 1em;
  border-radius: 0.25em;


  * {
      font-family: Courier, monospace !important;
    }

  &__title { font-weight: bold; }

  .desc {
    font-style: italic;
    opacity: 0.6;
  }

  .message {
    text-align: center;
  }

  .mat-expansion-panel-body {
    // max-height: 310px;
    overflow: scroll;
  }

  .mat-tab-body-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  mat-divider {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  button {
    text-align: left;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.flex {
      .mat-button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .mat-chip {
      font-size: 0.8em;
      padding: 0.1em 0.8em;
    }
  }

  ul {
    padding-left: 1em;
    margin: 0;

    li {
      margin: 12px 0;

      ul {
        margin-top: 12px;
        li {
          margin: 0;
        }
      }
    }
  }
}

.control-group {
  padding: 8px 2px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    margin-right: 1em;
  }

  .mat-button-toggle {

    // background-color: #DDDDDD;
    &-checked {
      // background-color: #FFFFFF;
    }
  }
}


.cdkDrag {
  cursor: pointer;
  position: fixed;
  z-index: 1009;
  bottom: 40px;
  left: 40px;
}
