<div
  id="funbox"
  class="funbox funbox__{{this.selectedResult.funbox.class}}"
  >

    <mat-card id="funbox__mat-card" class="funbox__mat-card">

      <mat-card-content class="funbox__mat-card-content">

        <div class="funbox__mat-card-content--left">
          <p
            id="funbox__title"
            class="funbox__title"
            [innerHTML]="this.selectedResult.funbox.title">
          </p>
          <p
            class="funbox__desc"
            [innerHTML]="this.selectedResult.funbox.desc">
          </p>
        </div>

        <div
          id="srp-easter-egg"
          class="funbox__mat-card-content--right">
          <!-- character img inserted here - see function startTheFunBox() -->
        </div>

      </mat-card-content>

    </mat-card>

</div>
