<div class="search-suggestions">

  <h3 class="search-suggestions__headline component-headline">People also ask</h3>

  <mat-accordion>

    <mat-expansion-panel
      *ngFor="let suggestion of this.selectedResult.searchSuggestions"
      class="top-results__result">

      <mat-expansion-panel-header>
        <mat-panel-title class="search-suggestions__title">{{suggestion.q}}</mat-panel-title>
      </mat-expansion-panel-header>

      {{suggestion.a}}

    </mat-expansion-panel>

  </mat-accordion>

</div>
