<div
  class="search {{page}} {{class}}">

    <!-- input bar -->
    <div class="search__bar">

      <input
        class="search__input"
        tabindex="1"
        [(ngModel)]="searchQuery"
        (keyup)="runUpdateQuery($event)"
        name="searchQuery"
        placeholder=""
        maxlength="2048"
        title="Search"
        type="text"
        value=""
        aria-label="Search"
        aria-haspopup="false"
        role="combobox"
        aria-autocomplete="list"
        spellcheck="true"
      />

      <button *ngIf="!this.globals.isMobileResolution" mat-icon-button class="search__mic"> </button>

      <button *ngIf="this.globals.isMobileResolution" class="search__mag" jsname="Tg7LZd" aria-label="Google Search" type="button" jsaction="click:.CLIENT">
        <div class="gBCQ5d">
          <span class="z1asCe MZy1Rb">
            <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
            </svg>
          </span>
        </div>
      </button>

    </div>


    <!-- buttons -->
    <div
      *ngIf="!this.globals.isMobileResolution && page == 'homepage'"
      class="search__submit">

      <button
        class="sumbit__button"
        mat-flat-button
        (click)="checkResults()"
        >
        Google Search
      </button>

      <button
        class="sumbit__button"
        mat-flat-button
        (click)="checkResults()"
        >
        I'm Feeling Lucky
      </button>

    </div>

</div>
