<div class="list-top">

  <div class="left-side">

    <div class="current-date">
      <span class="today" [innerHtml]="today">Mon</span>
      <span class="date" [innerHtml]="date">10</span>
    </div>

  </div>


  <section class="right-side">

    <div *ngFor="let event of events">
      <div
        class="event-item"
        [ngClass]="{'event-item--doodle' : event.isDoodle}"
        >
        <span [innerHtml]="event.title"></span>


        <div
          *ngIf="event.isDoodle"
          (click)="event.isDoodle ? openDoodleCard($event) : null"
          [ngClass]="{'event-item--doodle' : event.isDoodle}"
          [style.backgroundImage]="'url(' + event.img + ')'"
          >
          <span class="desc" [innerHtml]="event.title"></span>

          <span class="action">
            <mat-icon>play_arrow</mat-icon>
          </span>
        </div>







      </div>
    </div>

  </section>


</div>
