<div
  class="share-component"
  >

  <mat-card
    class="share-card"
    *ngIf="!this.globals.optOutWindowIsShown"
    [style.maxHeight]="this.globals.cardExpanded ? '860px' : null"

    [style.color]="this.doodletypes[this.globals.activeDoodleID].styles.gmail.primaryColor ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.cardElementsColor : null"
    >
    <!-- [ngStyle]="this.doodletypes[this.globals.activeDoodleID].styles.gmail.content ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.content : null" -->

    <!-- <button
      *ngIf="!this.globals.gmailDoodleOptIn"
      mat-icon-button
      class="close"
      (click)="this.globals.optOutWindowIsShown = !this.globals.optOutWindowIsShown; $event.stopPropagation();"
      >
      <mat-icon>close</mat-icon>
    </button> -->

    <mat-card-header>

      <a
        style="position: relative;width: 100%;display: flex;align-items: center;justify-content: center;"
        *ngIf="!this.doodletypes[this.globals.activeDoodleID].isInteractiveDoodle"
        routerLink="/results/{{this.doodletypes[this.globals.activeDoodleID].triggers[0]}}"
        [queryParams]="{ doodleID: this.doodletypes[this.globals.activeDoodleID].id }"
        target="_blank"
        [matTooltip]="'Search for '+this.doodletypes[this.globals.activeDoodleID].name"
        [matTooltipPosition]="'after'"
        matTooltipShowDelay="800"
        >
        <img
          style="cursor: pointer;"
          [src]="this.doodletypes[this.globals.activeDoodleID].logo.gmail.inCard.url"
          alt="alt text"
          [width]="this.doodletypes[this.globals.activeDoodleID].logo.gmail.inCard.width"
          [height]="this.doodletypes[this.globals.activeDoodleID].logo.gmail.inCard.height"
        />
        <!-- <mat-icon *ngIf="this.doodletypes[this.globals.activeDoodleID].isInteractiveDoodle" class="interactive">videogame_asset</mat-icon> -->
        <!-- Play {{this.doodletypes[this.globals.activeDoodleID].name}} -->
      </a>

      <a
        style="position: relative;width: 100%;display: flex;align-items: center;justify-content: center;"
        *ngIf="this.doodletypes[this.globals.activeDoodleID].isInteractiveDoodle"
        routerLink="/search/{{this.doodletypes[this.globals.activeDoodleID].triggers[0]}}"
        [queryParams]="{ doodleID: this.doodletypes[this.globals.activeDoodleID].id }"
        target="_blank"
        [matTooltip]="'Play '+this.doodletypes[this.globals.activeDoodleID].name"
        matTooltipShowDelay="800"
        >
        <img
          style="cursor: pointer;"
          [src]="this.doodletypes[this.globals.activeDoodleID].logo.gmail.inCard.url"
          alt="alt text"
          [width]="this.doodletypes[this.globals.activeDoodleID].logo.gmail.inCard.width"
          [height]="this.doodletypes[this.globals.activeDoodleID].logo.gmail.inCard.height"
        />
        <mat-icon
        [style.color]="this.doodletypes[this.globals.activeDoodleID].styles.gmail.primaryColor ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.cardElementsColor : null"
        class="interactive">
          videogame_asset
        </mat-icon>
        <!-- Play {{this.doodletypes[this.globals.activeDoodleID].name}} -->
      </a>

    </mat-card-header>

    <mat-card-content>

      <!-- <a
        class="not-a-link"
        routerLink="/search/{{this.doodletypes[this.globals.activeDoodleID].triggers[0]}}"
        [queryParams]="{ doodleID: this.doodletypes[this.globals.activeDoodleID].id }"
        target="_blank"></<a href="#"></a>> -->

        <p style="text-align: center; font-size: 1.5em; margin: 0.5em auto 0em;" [innerHtml]="this.doodletypes[this.globals.activeDoodleID].desc"></p>

        <p style="color: #777777;">
          <span [innerHtml]="this.doodletypes[this.globals.activeDoodleID].promo"></span>
          <a
            class="readme"
            [href]="this.doodletypes[this.globals.activeDoodleID].scribbleUrl"
            target="_blank"
            >
            read more...
          </a>
        </p>


    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions *ngIf="this.globals.showOptOutOptions">

      <span *ngIf="true">

        <button
          *ngIf="!this.globals.gmailDoodleOptIn"
          mat-button
          (click)="doodleOptOut()"
          >
          <!-- <mat-icon>info_outlined</mat-icon> -->
          Turn this off
        </button>


      </span>

      <span>

        <!-- <a
          routerLink="/results/{{this.doodletypes[this.globals.activeDoodleID].triggers[0]}}"
          [queryParams]="{ doodleID: this.doodletypes[this.globals.activeDoodleID].id }"
          target="_blank"
          [matTooltip]="'Search for '+this.doodletypes[this.globals.activeDoodleID].name"
          matTooltipShowDelay="800"
          mat-raised-button>
          Search
        </a> -->

        <a
          routerLink="/results/{{this.doodletypes[this.globals.activeDoodleID].triggers[0]}}"
          target="_blank"
          [queryParams]="{ doodleID: this.doodletypes[this.globals.activeDoodleID].id }"
          [matTooltip]="'Search '+this.doodletypes[this.globals.activeDoodleID].name"
          matTooltipShowDelay="800"
          mat-icon-button>
          <mat-icon>search</mat-icon>
        </a>

        <button
          (click)="openSocialShareModal()"
          [matTooltip]="'Share '+this.doodletypes[this.globals.activeDoodleID].name"
          matTooltipShowDelay="800"
          mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>

        <a
          *ngIf="this.doodletypes[this.globals.activeDoodleID].isInteractiveDoodle"
          routerLink="/results/{{this.doodletypes[this.globals.activeDoodleID].triggers[0]}}"
          [queryParams]="{ doodleID: this.doodletypes[this.globals.activeDoodleID].id }"
          target="_blank"
          [matTooltip]="'Play the '+this.doodletypes[this.globals.activeDoodleID].name+ 'game'"
          [matTooltipPosition]="'above'"
          matTooltipShowDelay="800"
          mat-icon-button
          >
          <mat-icon>videogame_asset</mat-icon>
        </a>

      </span>

    </mat-card-actions>

  </mat-card>

  <mat-card
    class="share-card"
    *ngIf="this.globals.optOutWindowIsShown"
    >

    <mat-card-header>
      <h3>We want to celebrate Summer&nbsp;Solstice with you!</h3>
    </mat-card-header>

    <mat-card-content>
      Want to see more? Keep this on for delight when it's important to you. Or feel free to turn this off. 🙋🏻‍♂️
      <br>
      <br>
      <p style="font-size: 12px; font-style: italic;">Configure this in: <mat-icon style="transform: translateY(1px); width: 12px; font-size: 12px;">settings</mat-icon> Settings - Themes</p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>

      <button
        (click)="$event.stopPropagation();doodleOptIn();"
        [matTooltip]="'Keep showing me this, I like it!'"
        matTooltipShowDelay="800"
        mat-raised-button
        color="primary">
        Yes, this is cool!
      </button>

      <button
        (click)="doodleOptOut()"
        [matTooltip]="'Please do not show me this, it is distracting'"
        matTooltipShowDelay="800"
        mat-raised-button>
        No, turn it off
      </button>

    </mat-card-actions>

  </mat-card>

</div>



<!--

<div class="doodle-wrapper">

  <span class="button-group">

    <button
      (click)="openSocialShareModal()"
      [matTooltip]="'Share '+this.doodletypes[this.globals.activeDoodleID].name"
      matTooltipShowDelay="800"
      mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
    <a
      [matTooltip]="'Search for '+this.doodletypes[this.globals.activeDoodleID].name"
      matTooltipShowDelay="800"
      mat-icon-button
      routerLink="/results/{{this.doodletypes[this.globals.activeDoodleID].triggers[0]}}"
      [queryParams]="{ doodleID: this.doodletypes[this.globals.activeDoodleID].id }"
      target="_blank">
      <mat-icon>search</mat-icon>
    </a>
  </span>

  <span class="button-group two">
    <button
      *ngIf="!this.globals.cardExpanded"
      (click)="this.globals.cardExpanded = !this.globals.cardExpanded"
      [matTooltip]="'See more'"
      matTooltipShowDelay="800"
      mat-icon-button>
      <mat-icon>expand_more</mat-icon>
    </button>
  </span>

  <br>

  <a
    routerLink="/search/{{this.doodletypes[this.globals.activeDoodleID].triggers[0]}}"
    [queryParams]="{ doodleID: this.doodletypes[this.globals.activeDoodleID].id }"
    target="_blank">
    <img
      class="full-doodle"
      [src]="this.doodletypes[this.globals.activeDoodleID].logo.standard.url"
      alt="alt text"
    />
  </a>

</div>







<span *ngIf="this.doodletypes[this.globals.activeDoodleID].archive && true">
  <br>
  <mat-divider></mat-divider>
  <br>

  <h2 [style.color]="this.doodletypes[this.globals.activeDoodleID].styles.gmail.primaryColor">This day in history</h2>

  <div *ngFor="let doodle of this.doodletypes[this.globals.activeDoodleID].archive; let i = index" class="">

    <a
      *ngIf="i!=0"
      [routerLink]="doodle.link"
      target="_blank"
      [matTooltip]="doodle.name + ' ' + doodle.year"
      matTooltipShowDelay="800"
      >

      <img [src]="doodle.url" [alt]="doodle.alt">

    </a>
    <br>
    <br>
    <br>

  </div>

</span>


<p style="text-align: center;" [innerHtml]="this.doodletypes[this.globals.activeDoodleID].scribble"></p>

 -->
