<footer class="hpfooter flex flex-space-between">
  <div class="hpfooter-section">
    <a (click)="prototypeClick('Advertising');" class="hpfooter__item">Advertising</a>
    <a (click)="prototypeClick('Business');" class="hpfooter__item">Business</a>
  </div>
  <div class="hpfooter-section">
    <a (click)="prototypeClick('Privacy');" class="hpfooter__item">Privacy</a>
    <a (click)="prototypeClick('Terms');" class="hpfooter__item">Terms</a>
    <a (click)="prototypeClick('Settings');" class="hpfooter__item">Settings</a>
  </div>
</footer>





<!-- activeDoodleID: {{globals.activeDoodleID}}<br>

{{doodletypes[0].name}}<br>
{{doodletypes[1].name}}
<br>

<br>
{{doodletypes[globals.activeDoodleID].name}}
<br>
{{doodletypes[globals.activeDoodleID].url}}
<br>
{{globals.activeDoodleID}} -->
  <!--
  showTopStories: {{globals.showTopStories}}<br>
showKnowledgePanel: {{globals.showKnowledgePanel}}<br>
showSearchSuggestions: {{globals.showSearchSuggestions}}<br>
useThisDoodle: {{globals.useThisDoodle}}<br>
doodles: {{globals.doodles}}<br>
themes: {{globals.themes}}<br>
logoThemes: {{globals.logoThemes}}<br>
headerThemes: {{globals.headerThemes}}<br>
bodyThemes: {{globals.bodyThemes}}<br>
useThisTheme: {{globals.useThisTheme}}<br>
useThisLogoTheme: {{globals.useThisLogoTheme}}<br>
useThisHeaderTheme: {{globals.useThisHeaderTheme}}<br>
useThisBodyTheme: {{globals.useThisBodyTheme}}<br> -->
