<div
  class="hplogo"
  [style.paddingTop.px]="doodle.id === 12 ? 24 : null"
  [style.paddingBottom.px]="doodle.id === 12 ? 72 : null"
  >
  <div class="hplogo__container">

    <!-- Standard Logo -->
    <div *ngIf="!this.globals.isMobileResolution">

      <div *ngIf="!doodle.isInteractiveDoodle">
        <img
          alt="Google {{logo.standard.name}} Doodle"
          height="{{logo.standard.height}}"
          width="{{logo.standard.width}}"
          [style.marginTop]="logo.standard.offset ? logo.standard.offset + 'px' : null"
          src="{{logo.standard.url}}"
          routerLink="/results/{{searchQuery}}">
      </div>

      <div *ngIf="doodle.isInteractiveDoodle">
        <app-simon-says *ngIf="doodle.id == 12"></app-simon-says>
      </div>

    </div>

    <!-- Mobile Logo -->
    <div *ngIf="this.globals.isMobileResolution">
      <img
        alt="Google {{logo.small.name}} Doodle"
        height="{{logo.small.height}}"
        width="{{logo.small.width}}"
        src="{{logo.small.url}}"
        routerLink="/results/{{searchQuery}}">
    </div>

  </div>
</div>
