@import "../../../variables.scss";

.hplogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;

  padding-top: 36px;

  @include lg {
    padding-top: 140px;
  }

  img {
    outline: none;
  }

  .hplogo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 160px;
    height: 72px;

    @include lg {
      width: unset;
      height: unset;
    }

    > img {
      cursor: pointer;
      outline: none;
    }
  }
}
