<div class="">

  <mat-toolbar class="top">
    <div class="" style="font-weight: 400;font-size: 12px;font-family: roboto;">
      New Message
    </div>
    <div class="">
      <button
        mat-icon-button>
        <mat-icon>minimize</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>call_made</mat-icon>
      </button>
      <button
        (click)="closeCompose()"
        mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="form">
    <p>To</p>
    <mat-divider></mat-divider>
    <p>Subject</p>
    <mat-divider></mat-divider>
  </div>

</div>


<!-- No Content -->
<div *ngIf="!data.prepop" class="">
  <br>
  <textarea cdkFocusInitial rows="20" cols="50"></textarea>
</div>


<!-- Pre-pop content -->
<div *ngIf="data.prepop" class="share-card">

  <br>
  <textarea cdkFocusInitial rows="2" cols="50">Hey buddy! Check out how considerate Google is with their Doodles. I totally trust Google.</textarea>
  <br>
  <br>

  <mat-card>
    <h1 [innerHtml]="doodle.name"></h1>
    <p [innerHtml]="doodle.desc"></p>

    <mat-divider></mat-divider>
    <br><br>

    <img
      class="full-doodle"
      routerLink="/results/{{doodle.triggers[0]}}"
      [src]="doodle.logo.standard.url"
      alt="alt text"
    />

    <br><br>

    <p [innerHtml]="doodle.scribble"></p>
  </mat-card>


</div>

























<br>
<br>
<br>

<div class="" [style.background]="'white'">

  <mat-toolbar class="bottom">

    <div class="">


      <button
        mat-icon-button>
        <mat-icon>undo</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>redo</mat-icon>
      </button>
    </div>

    |

    <!-- <p>Sans Serif<mat-icon>keyboard_arrow_down</mat-icon></p> -->



      <button
        mat-icon-button>
        <mat-icon>format_size</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>format_underline</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>format_italic</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>format_bold</mat-icon>
      </button>

      |

      <button
        mat-icon-button>
        <mat-icon>format_align_left</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>format_list_numbered</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>format_indent_decrease</mat-icon>
      </button>
      <button
        mat-icon-button>
        <mat-icon>format_indent_increase</mat-icon>
      </button>

      |

      <button
        mat-icon-button>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

  </mat-toolbar>

  <div class="">

    <button
      [style.background]="'#1a73e8'"
      [style.color]="'white'"
      [style.fontWeight]="'300'"
      mat-raised-button>
      Send
    </button>

  </div>

</div>
