<!-- <button
  class="drawer__button"
  type="button"
  mat-icon-button
  (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
</button> -->

<button
  (click)="controlPanelOpen = !controlPanelOpen"
  id="app-menu-button"
  class="main-menu-button"
  mat-fab
  type="button">
  <!-- (click)="drawer.toggle()" -->
  <mat-icon>menu</mat-icon>
</button>

<mat-drawer-container
  class="drawer__container"
  autosize
  >

  <mat-drawer
    opened="false"
    #drawer
    class="drawer__options"
    mode="side"
    >

    <app-app-menu local="{{getState(o)}}"></app-app-menu>

  </mat-drawer>

  <mat-drawer-content>

    <div [@routerTransition]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="" [style.display]="controlPanelOpen ? 'none' : 'block'">
      <div class="cdkDrag" cdkDrag>
        <app-app-menu local="{{getState(o)}}"></app-app-menu>
      </div>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
