<div class="srp__logo">

  <img
    *ngIf="this.globals.logoFullReplace"
    alt="Google {{doodletypes[globals.activeDoodleID].logo.srp.fullReplace.name}} Doodle"
    width="{{doodletypes[globals.activeDoodleID].logo.srp.fullReplace.width}}"
    height="{{doodletypes[globals.activeDoodleID].logo.srp.fullReplace.height}}"
    src="{{doodletypes[globals.activeDoodleID].logo.srp.fullReplace.url}}"
    
  >

  <img
    *ngIf="this.globals.logoOpenLetterReplace"
    alt="Google {{doodletypes[globals.activeDoodleID].logo.srp.openLetterReplace.name}} Doodle"
    width="{{doodletypes[globals.activeDoodleID].logo.srp.openLetterReplace.width}}"
    height="{{doodletypes[globals.activeDoodleID].logo.srp.openLetterReplace.height}}"
    src="{{doodletypes[globals.activeDoodleID].logo.srp.openLetterReplace.url}}"
    
  >

  <img
    *ngIf="this.globals.logoStrictLetterReplace"
    alt="Google {{doodletypes[globals.activeDoodleID].logo.srp.letterReplace.name}} Doodle"
    width="{{doodletypes[globals.activeDoodleID].logo.srp.letterReplace.width}}"
    height="{{doodletypes[globals.activeDoodleID].logo.srp.letterReplace.height}}"
    src="{{doodletypes[globals.activeDoodleID].logo.srp.letterReplace.url}}"
    
  >

</div>
