:host {

  .toolbar {

    padding: 1em 1em 3em;
    margin: -1em;

    &__input {
      background: rgba(white, 0.85);
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: max-content;
      width: 100%;
      margin: 1em auto;
      padding: 0.25em;
      box-shadow: 0 1px 4px rgba(#000000, 0.4);
      border-radius: 0.5em;

      input {
        background: transparent;
        flex: 1 1 auto;
        border: none;
        outline: none;
        font-size: 1.1em;
        &::-webkit-input-placeholder {
          color: currentColor;
        }
      }
    }
  }
}
