@import "../../../variables.scss";

.abstract {

  &__card {
    @include resultCard();
  }

  .mat-card-content {
    display: flex;

    img {
      transform: translate(24px,-24px);
      height: 160px;
    }
  }

  &__title {
    margin: 0 0 2px;
    padding: 0;
    color: #1a0dab;
    font-size: 1.3em;
  }

  &__url {
    margin: 0 0 2px;
    padding: 0;
    color: green;
    font-size: 0.8em;
  }

  &__desc {
    margin: 0;
    padding: 0;
  }

  &__tags {
    margin: 0.5em 0;
    font-size: 0.8em;
    color: #1a0dab;
  }

}
