.scibox {

  height: 600px;
  border-radius: 0.5em;
  position: relative;



  &__mat-card {
    height: 100%;
    background: transparent;
    z-index: 1;
    border-color: transparent;
    // background-image: radial-gradient(#FFFFFF 10%, #7fe1fc 40%, #0090f1, #0083f2 100%);
    // background-size: 600% 0%;
    // background-position: top center;
    // overflow: hidden;
  }

  &__mat-card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &--left {
      width: 240px;

    }
    &--right {
      outline: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__title {
    margin: 0 0 0.2em 0;
    font-size: xx-large;
  }

  &__desc {
    margin: 0;
    margin-top: 0.2em 0 0 0;
    color: #878787;
    color: rgba(0,0,0,0.5);
    font-size: medium;
  }

  &__message {
    font-size: xx-large;
    margin: 0;
  }

  // overwrite
  &.aurora {

    // background: #18283d;
    background: linear-gradient( #18283d, #101c2a);;

    overflow: hidden;

    .scibox__title,
    .scibox__desc {
      color: white;
      text-shadow: -1px 1px 0px rgba(0,0,0,0.5);
    }

    .scibox__img {
      position: absolute;
      bottom: 0;
      left: 0;
      outline: none;
      width: 180px;
    }
  }






}
