<div
  class="gmail-drawer"
  [ngStyle]="this.globals.gmailDecorLevelOne ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelOne.parent : this.globals.gmailDecorLevelTwo ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelTwo.parent : this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelTwo.parent ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelThere.parent : this.globals.gmailDecorLevelFour ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelFour.parent : null"
  >

  <div
    class="toolbar"
    [ngStyle]="this.globals.gmailDecorLevelOne ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelOne.toolbar : this.globals.gmailDecorLevelTwo ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelTwo.toolbar : this.globals.gmailDecorLevelThree ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelThere.toolbar : this.globals.gmailDecorLevelFour ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelFour.toolbar : null"
    >
    <div class="doodle">
      <app-doodle [client]="'gmail'" [doodleType]="doodletypes[globals.activeDoodleID]"></app-doodle>
    </div>
  </div>

  <div
    class="content"
    [ngStyle]="this.globals.gmailDecorLevelOne ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelOne.content : this.globals.gmailDecorLevelTwo ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelTwo.content : this.globals.gmailDecorLevelThree ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelThere.content : this.globals.gmailDecorLevelFour ? this.doodletypes[this.globals.activeDoodleID].styles.gmail.levelFour.content : null"
    >

    <button mat-button>
      <mat-icon>inbox</mat-icon> All Inboxes
    </button>

    <mat-divider></mat-divider>

    <button mat-button>
      <mat-icon>inbox</mat-icon> Primary
    </button>

    <button mat-button>
      <mat-icon>star</mat-icon> Starred
    </button>

    <button mat-button>
      <mat-icon>access_time</mat-icon> Snoozed
    </button>

    <button mat-button>
      <mat-icon>send</mat-icon> Sent
    </button>

    <button mat-button>
      <mat-icon>drafts</mat-icon> Drafts
    </button>


<!--
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="category__title">All Labels</p>
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>

      <button mat-button>
        <mat-icon>star_border</mat-icon> Starred
      </button>

      <button mat-button>
        <mat-icon>label_important_outlined</mat-icon> Important
      </button>

      <button mat-button>
        <mat-icon>send</mat-icon> Sent
      </button>

      <button mat-button>
        <mat-icon>drafts</mat-icon> Drafts
      </button>

      <button mat-button>
        <mat-icon>mail</mat-icon> All mail
      </button>

    </mat-expansion-panel> -->



  </div>

</div>
