@import "../../../variables.scss";

.results-list {
  // padding-left: calc(120px + 16px + 16px);

  .mat-card .mat-divider-horizontal {
    position: relative;
  }

  .top-results {

    &__result {

      @include resultCard();

      @include lg {
        max-width: 632px;
      }

      .result {
        &__title {
          cursor: pointer;
          margin: 0 0 2px;
          padding: 0;
          color: #1a0dab;
          font-size: 1.3em;
          text-decoration: none;
        }

        &__url {
          cursor: pointer;
          display: block;
          margin: 0 0 0.5em;
          padding: 0;
          color: green;
          font-size: 0.9em;
          font-style: italic;
          text-decoration: none;

          mat-icon {
            height: 1em;
            width: 1em;
            font-size: 1.6em;
            transform: translate(2px, -2px);
            position: absolute;
          }
        }

        &__desc {
          margin: 0;
          padding: 0.5em 0 0;
        }

        &__tags {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
