<div class="knowledge-panel component-spacing">

  <mat-card class="knowledge-panel__card">

    <!--  -->
    <!-- Mobile Screen Content -->
    <div class="small" *ngIf="this.globals.isMobileResolution">
      <header
        id="knowledge-panel__header"
        class="knowledge-panel__header">

        <div class="" (click)="findEasterEgg(2)">
          <h1>{{this.selectedResult.knowledgePanel.title}}</h1>
          <p>{{this.selectedResult.knowledgePanel.category}}</p>
        </div>

        <div
          *ngIf="this.selectedResult.egg"
          (click)="findEasterEgg()"
          id="easterEgg"
          class="egg {{this.selectedResult.egg.class}} {{this.selectedResult.egg.id}}">
          <img
            [src]="this.selectedResult.egg.url"
            alt=""
          />
        </div>

        <mat-icon>share</mat-icon>

      </header>

      <mat-divider></mat-divider>
      <br>

      <mat-grid-list
        class="knowledge-panel__grid"
        cols="7"
        rowHeight="2:1">

        <mat-grid-tile
          *ngFor="let img of this.selectedResult.knowledgePanel.heroImages"
          class="knowledge-panel__tile"
          [colspan]="img.cols"
          [rowspan]="img.rows"
          [style.backgroundImage]="'url('+ img.url +')'"
          >
          <a
            href="{{img.url}}"
            target="_blank"
            style="display:block;width:100%;height:100%;">
          </a>
        </mat-grid-tile>

      </mat-grid-list>

      <br>
      <mat-divider></mat-divider>

      <p class="knowledge-panel__desc">{{this.selectedResult.knowledgePanel.desc}}</p>


    </div>

    <!-- Large Screen Content -->
    <div *ngIf="!this.isMobileResolution">
      <mat-grid-list
        class="knowledge-panel__grid"
        cols="7"
        rowHeight="2:1">

        <mat-grid-tile
          *ngFor="let img of this.selectedResult.knowledgePanel.heroImages"
          class="knowledge-panel__tile"
          [colspan]="img.cols"
          [rowspan]="img.rows"
          [style.backgroundImage]="'url('+ img.url +')'"
          >
          <a
            href="{{img.url}}"
            target="_blank"
            style="display:block;width:100%;height:100%;">
          </a>
        </mat-grid-tile>

      </mat-grid-list>

      <header
        id="knowledge-panel__header"

        class="knowledge-panel__header">

        <div>
          <h1>{{this.selectedResult.knowledgePanel.title}}</h1>
          <p>{{this.selectedResult.knowledgePanel.category}}</p>
        </div>

        <div
          *ngIf="this.selectedResult.egg"
          (click)="findEasterEgg()"
          id="easterEgg"
          class="egg {{this.selectedResult.egg.class}} {{this.selectedResult.egg.id}}">
          <img
            [src]="this.selectedResult.egg.url"
            alt=""
          />
        </div>

        <mat-icon>share</mat-icon>

      </header>

      <mat-divider></mat-divider>

      <div *ngIf="option2" class="">
        <br>
        <br>
        <br>
        <mat-divider></mat-divider>
      </div>


      <p class="knowledge-panel__desc">{{this.selectedResult.knowledgePanel.desc}}</p>

      <div class="">

        <h2 class="knowledge-panel__sub-title">{{this.selectedResult.knowledgePanel.subTitle}}</h2>

        <div class="knowledge-panel__list">

          <div
            *ngFor="let img of this.selectedResult.knowledgePanel.heroImages"
            class="knowledge-panel__list-item"
            >
            <div
              class="img"
              [style.backgroundImage]="'url('+ img.url +')'">
            </div>
            <p class="knowledge-panel__list-desc">{{img.alt}}</p>
          </div>

        </div>
      </div>
    </div>


  </mat-card>

</div>
