.top-stories {
  // padding-left: calc(120px + 16px + 16px);

  // margin-left: calc(120px + 16px + 16px);
  margin-bottom: 2em;



  &__cards {

  }

  &__headline {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    text-indent: 1em;
    margin: 0.5em 0;

  }

  &__card {
    width: 205px;
    margin: 4px;
    position: relative;
    display: block;
    // padding: 16px;
  }

  &__img {
    // width: calc(100% + 16px + 16px);
    // margin: -16px -16px 16px -16px;
  }

  &__more-link {
    padding: 0.5em 1em;
    margin: 0;
  }

}

// .top_results {
//
//   .result {
//     margin: 2em 0;
//     padding: 0 1em;
//     max-width: 632px;
//     .title {
//       margin: 0 0 2px;
//       padding: 0;
//       color: #1a0dab;
//       font-size: 1.1em;
//     }
//     .url {
//       margin: 0 0 2px;
//       padding: 0;
//       color: green;
//       font-size: 0.8em;
//     }
//     .desc {
//       margin: 0;
//       padding: 0;
//     }
//     .tags {
//       margin: 0;
//       padding: 0;
//     }
//   }
//
// }
