@import "../../../variables.scss";


::ng-deep {
  // .gamil-toolbar .mat-tooltip {
  //   font-size: 32px !important;
  //   max-width: 40% !important;
  //   margin: 1em auto !important;
  // }
  .doodle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
    img {
      max-width: unset !important;
    }
  }
  .mat-bottom-sheet-container {
    // padding: 0 !important;
  }
  .mat-menu-panel {
    border-radius: 50px;
    // background-color: transparent !important;
    max-width: none !important;
    position: relative;
    top: 8px;
    // top: 58px;
    .mat-menu-content {
      padding: 0 !important;
    }
  }
}






.gmail-toolbar {

  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  font-size: 1em;
  font-weight: 400;
  color: #777777;
  border-bottom: 1px solid #E4E4E4;
  background-color: transparent;

  .super {
    height: 48px;
    padding: 0 4px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-wrap {
    flex: 1 1 auto;
    position:relative;
    max-width: calc(705px - 48px); // width of the SUPER
    width: -webkit-fill-available;

    @include md {
      min-width: calc(705px - 48px); // width of the SUPER
    }

    input {
      &:focus {
        background-color: white !important;
        color: #000 !important;
      }
      &::placeholder {
        color: var(--color);
      }
    }

  }

  .google-controls {
    padding-left: 2em;
  }

  .clickable_area {

    background: rgba(green, 0);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    &.auto {
      display: none;
      @include lg {
        display: block;
      }
    }
  }



  .left {
    min-width: 248px;
    width: 248px;
    display: flex;
    align-items: center;
  }

  .right {
    margin: 0 0 0 auto;

    button {
      margin: 0 2px;
    }
  }

  &__input-wrap {
    background: rgba(0,0,0,0.04);
    border-radius: 4px;
  }

  &__search-bar {
    font-size: 1em;
    font-weight: 100;
    height: 48px;
    background: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    border-radius: 4px;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;

    &:focus {
      outline: none;
      background: white;
      border-color: rgba(0,0,0,0.12);
      box-shadow: 0 1px 1px rgba(0,0,0,0.24);
    }
  }
}
