<mat-toolbar
  *ngIf="this.globals.isMobileResolution"
  class="homepage-toolbar homepage-toolbar--mobile flex-row">

  <div class="left">
    <button
      (click)="prototypeClick('Menu');"
      mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>

    <button
      mat-button
      (click)="prototypeClick('All');">
      All
    </button>

    <button
      mat-button
      (click)="prototypeClick('Images');">
      Images
    </button>
  </div>

  <div class="right">
    <button
      [matMenuTriggerFor]="appsMenu"
      mat-icon-button
      >
      <mat-icon aria-label="Apps Icon">apps</mat-icon>
    </button>

    <mat-menu id="apps-menu" class="apps-menu" #appsMenu="matMenu" overlapTrigger="false">

      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Account</button>
      <button mat-menu-item routerLink="/gmail/"><mat-icon style="color:red;" aria-label="Apps Icon">radio_button_unchecked</mat-icon>Gmail</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Drive</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Docs</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Sheets</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Slides</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Calendar</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Chat</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Meet</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Google+</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Sites</button>
      <button mat-menu-item><mat-icon aria-label="Apps Icon">radio_button_unchecked</mat-icon>Contacts</button>

    </mat-menu>

    <button
      (click)="prototypeClick('Account');"
      mat-icon-button
      >
      <mat-icon >account_circle</mat-icon>
    </button>
  </div>

</mat-toolbar>

<mat-toolbar
  *ngIf="!this.globals.isMobileResolution"
  class="homepage-toolbar flex-row">

    <div class=left>

      <button
        mat-button
        (click)="prototypeClick('About');">
        About
      </button>

      <button
        mat-button
        (click)="prototypeClick('Store');">
        Store
      </button>
    </div>

    <div class="right">
      <button
        mat-button
        routerLink="/gmail/">
        Gmail
      </button>

      <button
        mat-button
        (click)="prototypeClick('Images');">
        Images
      </button>

      <button

        [matMenuTriggerFor]="menu"
        mat-icon-button
        >
        <mat-icon aria-label="Apps Icon">apps</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          routerLink="/calendar/">
          <mat-icon>calendar_today</mat-icon>
          <span>Calendar</span>
        </button>
        <button
          mat-menu-item
          routerLink="/maps/">
          <mat-icon>maps</mat-icon>
          <span>Maps</span>
        </button>
        <button
          mat-menu-item disabled
          routerLink="/calendar/">
          <mat-icon>code</mat-icon>
          <span>Other apps</span>
        </button>
        <button
          mat-menu-item disabled
          routerLink="/calendar/">
          <mat-icon>code</mat-icon>
          <span>Other apps</span>
        </button>
      </mat-menu>



















      <button
        (click)="prototypeClick('Account');"
        mat-icon-button
        >
        <mat-icon >account_circle</mat-icon>
      </button>
    </div>

</mat-toolbar>
