<div
  id="srp"
  class="srp {{this.doodletypes[this.globals.activeDoodleID].triggers[0] | removewhitespace}}"



  >

  <!-- [ngStyle]="this.globals.srpSimpleToolbarDecor ? this.doodletypes[this.globals.activeDoodleID].styles.srp.cont.simple : this.globals.srpElaborateToolbarDecor ? this.doodletypes[this.globals.activeDoodleID].styles.srp.cont.elaborate : this.globals.srpWholePageDecor ? this.doodletypes[this.globals.activeDoodleID].styles.srp.cont.whole : null" -->



  <app-srp-toolbar
    class="tb"
    [query]="searchQuery">
   </app-srp-toolbar>

  <div
    [style.marginTop.px]="this.globals.srpToolbarMorph ? 123 : null"
    [@routerTransition]="searchQuery">
    <router-outlet></router-outlet> <!-- loads srp-content -->
  </div>

  <!-- <app-srp-footer></app-srp-footer> -->

</div>
